@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root
{
    --light: #fff;
    --dark: #000;
    --text-color: var(--light);
    --background-color: var(--light);
    --overlay-color-opacity: rgba(43, 51, 59, 0.6);
    --header-image: url("https://www.lievin.fr/sites/default/files/styles/banner/public/2021-11/entree_arena.jpg") no-repeat top center/cover;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 16px;
}

.footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content
{
    padding-bottom: 3%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-list
{
    display: flex;
    flex-direction: column;
}

.social-item
{
    margin-top: 20px;
}

.contact-item
{
    margin-top: 20px;
    transition: 1s all;
}

.social-item a:hover
{
    color: rgb(43, 51, 59);
}

.social-item .fb:hover
{
    color: #3b5998;
}

.social-item .insta:hover
{
    color: #C32AA3;
}

.social-item .twitter:hover
{
    color: #1DA1F2;
}

.social-item .yt:hover
{
    color: #FF0000;
}

.social-item a
{
    transition: .7s all;

}

.newsletter-form input[type="email"]
{
    padding: 10px;
    width: 20rem;
}

.newsletter-form .newsletter-btn
{
    border: 1px solid black;
    padding: .5rem 1.5rem;
    transition: 1s all;
    cursor: pointer;
}

.newsletter-form .newsletter-btn:hover
{
    background-color: #000;
    color: #fff;
    padding: .5rem 1.5rem;
}

.contact-list
{text-transform: uppercase;}


.contact-list .contact-item:hover
{
    color: rgb(78, 82, 87);
}


.container
{
    margin-bottom: 15%;
}

.title-bold
{
    font-weight: 600;
    text-transform: uppercase;
    transition: 1.5s all;
}

.title-bold:hover
{
    filter: blur(10px);
    cursor:default;
}

.blur
{
    animation-name: blur;
    animation-duration: 2s;
}

.navbar
{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    color: var(--text-color);
}

.nav-list
{
    display: flex;
    justify-content: flex-end;
    padding: 1.3rem 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin: 0 5%;
}


.nav-overlay
{background-color: var(--overlay-color-opacity);}

.nav-list .brand
{margin-right: auto;}

.nav-list .nav-item:not(:last-child)
{margin-right: 10%;}

.nav-list .nav-item a
{
    text-decoration: none;
    color: inherit;
    position: relative;
    font-size: inherit;
    letter-spacing: 1px;
}

.nav-icon
{margin-right: 3px;}

.nav-item
{position: relative;}

.nav-item::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -100%;
    height: 1px;
    width: 15%;
    border-bottom: #fff solid 2px;
    transition: 1.5s all;

}

.nav-item:hover::after
{width: 100%;}

.nav-active::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -100%;
    height: 1px;
    width: 100%;
    border-bottom: #fff solid 2px;
    transition: 1s all;
}

.burger-nav
{
    display: none;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.3rem;

}

.brand
{
    margin-left: 5%;
}


.content .header
{
    height: 60vh;
    width: 100%;
    background: var(--header-image);
}


.content .header .overlay
{
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color-opacity);
    display: flex;
    justify-content: center;
    transition: 1s all;
}

.content .header .overlay iframe
{
    width: 100%;
    height: 100vh;
}

.content .header .overlay .header-content
{
    max-width: 50%;
    color: var(--text-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content .header .overlay .header-content h1
{
    font-size: 5rem;
    margin-bottom: 5%;
}

.header-content p
{font-size: 1.6rem;}

.main-content
{
    padding-top: 5%;
    min-height: 100vh;
    width: 100%;
}

.video
{
    display: flex;
    justify-content: center;
}

.first-page
{
    width: 100%;
    height: 100%;
    display: flex;

}

.first-article
{margin: 5% 5%;}

.article-preview
{
    display: flex;
    font-size: .7rem;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.article-preview .title
{margin: 3% 0;}

.first-article .article-preview .title
{font-size: 2rem;}

.first-article .article-preview .a-desc
{
    max-width: 80%;
    margin-left: 10%;
}

.a-grid
{
    display: flex;
    flex-flow: row wrap;
}

.a-grid .article
{
    max-width: 20%;
    margin: 5% 0;
}

.a-grid .article .article-preview .article-desc
{
    max-width: 50%;
    text-align: center;
}

.a-grid .article .article-preview .article-desc .title
{font-size: 1.4rem;}

.main-video
{
    width: 1039px;
    height: 499px;
}

@keyframes blur
{ from {filter: blur(200px);} }


@media screen and (max-width: 1280px)
{
    :root
    {font-size: 13px;}
    .nav-list .nav-item
    {display: none;}
    .navbar
    {height: 5%;}
    .first-page
    {display: none;}
    .burger-nav
    {display: flex;}

    .a-grid .article
    {
        max-width: 40%;
        margin-left: 5%;
    }


}


@media screen and (max-width: 1024px)
{
    :root
    {font-size: 10px;}
    .newsletter
    {display: none;}

    .main-video
    {
        height: 300px;
        width: 80%;
    }

}

@media screen and (max-width: 460px)
{
    .a-grid
    {
        flex-direction: column;
        align-items: center;
    }
}
