:root
{
    --header-image: url("../img/organiser-son-événement.jpg") no-repeat bottom center/cover;
}

.content .header
{
    background: var(--header-image);
}

.evement{
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
}

.div1{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 75px;
    margin-top: 10%;
    gap: 20px;
}
.div3{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 75px;
    gap: 20px;
}
.div2{
    display: flex;
    flex-direction: row-reverse;
align-items: center;
    margin-bottom: 75px;
    text-align: center;
    gap: 60px;
    margin-right: 100px;
}

.div4{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-bottom: 75px;
    gap: 20px;
}

.div2 img{
    width: 20%;
    border-radius: 30%;
}
.div2 p h1{
    display: flex;
}
.div1 img{
    width: 25%;
    right: 350px;
    top: 150px;
    border-radius: 30%;
}
.div3 img{
    width: 25%;
    right: 350px;
    top: 150px;
    border-radius: 30%;
}
.eve3{
    margin-top: 50px;
    margin-left: 100px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.div4 img{
        margin-right: 100px;
        width: 25%;
        border-radius: 30%;
}
.eve4{
    text-align: center;
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 100px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    }
.div4{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 100px;
    margin-bottom: 75px;
    gap: 20px;
}
.div5{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 75px;
    gap: 20px;
}
.div5 img{
    width: 25%;
    right: 350px;
    top: 150px;
    border-radius: 30%;
}
.eve5{
    margin-top: 50px;
    margin-left: 100px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.div6{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 100px;
    margin-bottom: 75px;
    gap: 20px;
}
.div6 img{
    margin-right: 100px;
    width: 25%;
    border-radius: 30%;
}
.eve6{
    text-align: center;
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 100px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    }
.eve6 h1{
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
}
.eve1 p{
    font-family: "Poppins", Arial, Helvetica, sans-serif;

}
.eve2 p{
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.eve5 h1{
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;

}
.eve4 h1{
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
}
.eve3 h1{
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
}
.eve2 h1{
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.eve1{
    margin-top: 3%;
    margin-left: 5%;
  }
.eve1 h1{
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}
/* REPONSIVE TELEPHONE */

@media screen and (max-width: 720px){
    .evement
    {
        display: flex;
        align-items: center;
    }

    
    .body{
        display: flex;
        flex-direction: column;
    }
    .eve1 h1{
        margin-bottom: 30px;
        font-size: 20px;
        font-weight: bold;
        font-family: "Poppins", Arial, Helvetica, sans-serif;
    }
    .div1{
        display: flex;
        flex-direction: wrap;
        text-align: center;
        margin-left: none;
        margin-bottom: 75px;

    }
   .div1 img{
       margin-left: 17%;
       margin-bottom: 15px;
       width: 50%;
   }
   .eve1{
       margin-left: 40px;
   }
  .div2{
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-right: 0;
      margin-top: 50px;
  }
  .div3{
      display: flex;
      flex-direction: column;
  }
  .eve3{
    margin-left: auto;
  }
  .eve3 h1{
      text-align: center;
  }
  .div3 img{
    width: 60%;
    margin-left: 70px; 
  }
  .div4{
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .div4 img{
    width: 60%;
    margin-left: 3px; 
  }
  .eve4 p{
    text-align: center;
    width: 150px;
    margin-right: 50%;
    margin-left: auto;
    }

    .eve4 h1
    {
        margin-right: 50%;
    }
    .eve4{
        text-align: none;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .div5{
        display: flex;
        flex-direction: column;
        gap:0;
    }
    .div5 img{
        width: 60%;
        margin-left: 20%; 
      }
      .eve5{
        margin-left: auto;
      }
      .eve5 h1{
          text-align: center;
      }
      .div6{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .div6
    {
        margin-left: 0;
    }
    .div6 img{
        width: 60%;
        margin-left: 20%;
    }

    .div6 h1
    {
        margin-left: 20%;
    }
    .eve6{
        margin-left: 0;
        margin-right: 0;
        margin-top: 12px;
      }
      .eve6 p{
        text-align: center;
        margin-right: 20px;
        width: 100%;
        }
     .div1{
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .eve1 h1{
        text-align: center;
    }
    .eve1{
        margin-left: auto;
      }
    .eve6 h1{
       margin-right: 20%; 
    }
   
}
/* FIN REPONSIVE TELEPHONE */


/*  REPONSIVE TABLETTE */
@media screen and (min-width: 720px) and (max-width: 1024px){
    .div2 img {
        width: 60%;
        border-radius: 30%;
        margin-left: 100px;
    }
    .div2{
        margin-bottom: 40px;
    }
    .eve2{
        margin-left: 40%;
    }
    .eve2 p{
        width: 300px;
    }
    .eve1{
        margin-top: 0;
    margin-right: 10%;
    }
    .div3 img{
        width: 60%;
    }
    .eve3{
        margin-right: 15%;
        margin-bottom: 10%;
        margin-left: 50px;
    }
    .div1 img{
        width: 60%;

    }
    .evement{
        margin-bottom: 50px;
        margin-left: 10%;

    }

    .div3{
        gap: 0;
        margin-left: 0%;
    }
    .div1{
        margin-left: 0;
    }
    .div3{
       margin-bottom: 45px; 
    }
    .div4{
        margin-right: 100px;
    }
    .div4 img{
        width: 100%;
        margin-right: 0;
    }
    .div5{
        margin-bottom: 45px;
    }
    .eve5{
        margin-left: 0;
        margin-top: 10px;
    }
    .eve5 p{
        margin-left: 40px;
    margin-right: 40px;
    }
    .div5 img{
        width: 60%;
    }
    .div6{
        gap: 0;
        margin-left: 80px;
        height: 30%;
    }
    .div6 img{
        width: 70%;
        margin-left: auto;
    }
    .eve6{
        margin-right: 150px;
        margin-bottom: 400px;
    }
    .eve6 p{
     width: 200px;
    }
    .eve6 h1{
        width: 200px;
        margin-right: 100px;
        margin-top: 20px;
    }
    .eve4 p{
        width: 300px;
        position: relative;
        right: 70px;
    }
    .eve4 h1{
        position: relative;
        right: 60px;
    }
    .eve4{
        width: 300px;  
    }
    
}


