body{
    background: rgb(127, 125, 125);
}
.menu_burger {
    display: flex;
    position: fixed;
    top: 56px;
    right: 12px;
    z-index: 1;
    flex-direction: column;
}
.menu-item a{
    text-decoration: none;
    color: white;
    transform: color 0.3s ease;
}

.menu-item a:hover {
    color: grey;
}

.menu_burger input {
    display: block;
    width: 40px;
    height: 32px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}


.menu_burger input[type="checkbox"]:checked ~ .menu {

    right: 0;
       
}

.menu_burger span {
    display: block;
    width: 33px;
    transition: .5s all;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color:rgb(255, 255, 255);
    border-radius: 3px;
    z-index: 1;
    margin-right: 44px;

}
#barre1{
    transform: translateY(-4px);
}
#barre3{
    transform: translateY(4px);
}
.menu{
    transition: transform 0.5s cubic-bezier(0.5,0.5,0.5,1.0);
}
input[type="checkbox"]:checked ~ #barre1 {
       transform: rotate(-45deg) translate(0, -3px);
}

input[type="checkbox"]:checked ~ #barre2 {
    display: none;
}

input[type="checkbox"]:checked ~ #barre3 {

    transform: rotate(45deg) translate(-9px, -6px);
}

.menu
{
    position: absolute;
    top: -50px;
    right: -900px;
    transition: .5s ease-in-out;
    background-color: rgba(0,0,0,.5);
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

