body{
    background: rgb(127, 125, 125);
}
.menu_burger {
    /*nav mis à la suite de la croix*/
    display: flex;
    position: fixed;
    /*distance du bord du container*/
    top: 56px;
    right: 12px;
    z-index: 1;
    /* élément mis en colonne*/
    flex-direction: column;
}
.menu_burger a {
    text-decoration: none;
/*couleur du texte tout le temps*/
    color: red;
    transform: color 0.3s ease;
}

/*couleur du texte quand on passe la souris dessus */
.menu_burger a:hover {
    color: blue;
}

.menu_burger input {
    display: block;
    width: 40px;
    height: 32px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}
/*bloque le menu quand il est ouvert*/
.menu_burger input[type="checkbox"]:checked ~ .menu {
       display: block;
       
}

/*info du menu */
.menu_burger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color:rgb(255, 255, 255);
    border-radius: 3px;
    z-index: 1;
    margin-right: 44px;

}
/*espace entre les barre menu burger*/
#barre1{
    transform: translateY(-4px);
}
#barre3{
    transform: translateY(4px);
}

/*vitesse ouverture/fermeture du menu*/
.menu{
    /*transition: 0.3 ease;*/
    transition: transform 0.5s cubic-bezier(0.5,0.5,0.5,1.0);
}
/*modif du menu à la croix*/
input[type="checkbox"]:checked ~ #barre1 {
       transform: rotate(-45deg) translate(0, -3px);
}

input[type="checkbox"]:checked ~ #barre2 {
    display: none;
}

input[type="checkbox"]:checked ~ #barre3 {
    transform: rotate(45deg) translate(-9px, -6px);
}

/*disparition de la nav quand le menu est ouvert */
.menu{
    display: none;
}

